# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/.vs
/.vs/Atividade
/.vs/Atividade/FileContentIndex
/.vs/Atividade/FileContentIndex/52bd3369-9d48-4a02-a0a4-e0c6902defa7.vsidx
/.vs/Atividade/v17
/.vs/Atividade/v17/.wsuo
/.vs/Atividade/v17/Browse.VC.db
/.vs/Atividade/v17/Browse.VC.db-shm
/.vs/Atividade/v17/Browse.VC.db-wal
/.vs/Atividade/v17/Browse.VC.opendb
/.vs/Atividade/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
